<div class="jumbotron">
    <h1>AngularJS</h1>
    <p class="lead">AngularJS is a free javascript framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://docs.angularjs.org" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Navigate to Angular Demo page</h2>
        <p>Nothing more to read here.</p>
    </div>
</div>
